.git
.next
.next-dev
.secrets
.vercel
node_modules
**/node_modules
**/.next
**/.next-dev
**/.tmp
**/coverage
**/dist
**/out
**/*.tsbuildinfo
.env
.env.*
**/.env
**/.env.*
*.log
.DS_Store
**/.DS_Store
